extends layout

block content
  h3.center-align(style="font-family: 'Futura', sans-serif; color: #05668D;") Add New School
  .container#add_school_form
    .z-depth-1.grey.lighten-4.row(style='margin-top: 1%; margin-left: 22%; margin-right: 22%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
      form(action='/process_new_school' method='post' enctype="multipart/form-data")
        if message
          .green.col.s12.z-depth-1
            h5(style='font-family: Futura; color: white;').center-align #{message}
        .row
          .col.s12
            .row
              .input-field.col.s12
                input#school_name.validate.type_color(type='text',name='school_name')
                label(for='school_name') School Name
              .file-field.input-field.col.s12
                .btn
                  span File
                  input(type='file',name='image')#school_logo
                .file-path-wrapper
                  input.file-path.validate(type='text')
              input(type='submit').col.s8.offset-s2.btn.btn-large.waves-effect.indigo#submit_button
