extends layout

block content
  h3.center-align(style="font-family: 'Futura', sans-serif; color: #05668D;") Add New Club
  .container#add_club_form
    .z-depth-1.grey.lighten-4.row(style='margin-top: 1%; margin-left: 22%; margin-right: 22%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
      form(action='/process_new_club' method='post')
        if message
          .green.col.s12.z-depth-1
            h5(style='font-family: Futura; color: white;').center-align #{message}
        .row
          .col.s12
            .row
              h4(style='color: #05668D') Club Leader: #{session.user.user_username}
              .input-field.col.s12
                input#club_name.validate.type_color(type='text',name='club_name')
                label(for='school_name') Club Name
              .input-field.col.s12
                select#school(name='school')
                  option(value='', disabled='', selected='') Select an option
                  each school in school_list
                    option(value=school._id) #{school.school_name}
                label(for='school') Club School
              .input-field.col.s12
                textarea#textarea1.materialize-textarea(name='club_desc')
                label(for='textarea1') Club Description
              //- .file-field.input-field.col.s12
              //-   .btn
              //-     span File
              //-     input(type='file',name='image')#school_logo
              //-   .file-path-wrapper
              //-     input.file-path.validate(type='text')
              input(type='submit').col.s8.offset-s2.btn.btn-large.waves-effect.indigo
