extends layout

block content
  .yellow.lighten-4.api_style
    h2.center.blue-text(style="font-family: 'Righteous', cursive;") API Documentation
    .container
      h4 Clubs
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all clubs.
            td /api/clubs
            td GET
            td none
          tr
            td Add a New Club.
            td /api/clubs
            td POST
            td { name: "Soccer Club", leader: "John Smith", secretary: "USER_ID, treasurer: "USER_ID"}
          tr
            td Add a activity to a club.
            td /api/clubs/update_club_activities
            td POST
            td { id: "CLUB_ID", activityid: "ACTIVITY_ID"}
          tr
            td Add a post to a club.
            td /api/clubs/update_club_posts
            td POST
            td { id: "CLUB_ID", postid: "POST_ID"}
          tr
            td Delete a club.
            td /api/clubs/:id
            td DELETE
            td :id => "CLUB_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
            |{
            |"_id": "588ea6f3e097980ea9297eb1",
            |"club_treasurer": "*(@#&$",
            |"club_secretary": "#@$@#$@",
            |"club_leader": "Susan",
            |"club_name": "Tennis Club",
            |"club_activities": ["LIST_OF_ACTIVITY_IDS"],
            |"__v": 0
            |}
      h4 Activities
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all activities.
            td /api/activities
            td GET
            td none
          tr
            td Add a new activity.
            td /api/activities
            td POST
            td { date: "1/23/17", info: "Adventure to Amy's ice cream." }
          tr
            td Delete an activity.
            td /api/activities/:id
            td DELETE
            td :id => "ACTIVITY_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
            |{
            |"_id": "58857dc72dab3c4fccf28fb1",
            |"activity_info": "Adventure to Amy's ice cream.",
            |"activity_date": "12/23/16",
            |"__v": 0
            |}
      h4 Schools
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all schools.
            td /api/schools
            td GET
            td none
          tr
            td Add a new school.
            td /api/schools
            td POST
            td { name: "St. Edward's University", logo: "HILLTOPPER", date: "1/22/17"}
          tr
            td Add a club to a school.
            td /api/schools/update_school_clubs
            td POST
            td { id: "SCHOOL_ID", clubid: "CLUB_ID"}
          tr
            td Delete a school.
            td /api/schools/:id
            td DELETE
            td :id => "SCHOOL_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
            |{
            |"_id": "58856f8ec7a7a9430a3e716f",
            |"school_join_date": "1994-01-12T06:00:00.000Z",
            |"school_logo": "Cavaliers",
            |"school_name": "Lake Travis",
            |"school_clubs": ["LIST_OF_CLUB_IDS"]
            |"__v": 0
            |}
      h4 Users
      p Under-going authentication protocol implementation and maintenance.
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all users.
            td /api/users
            td GET
            td none
          tr
            td Add a new user.
            td /api/users
            td POST
            td { first_name: "David", last_name: "Poulos", email: "dpoulos@stedwards.edu", password: ENCRYPTED , date_created: 2/20/2017, major: "Computer Science", username: "dpoulos"}
          tr
            td Delete a user.
            td /api/users/:id
            td DELETE
            td :id => "USER_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
            |{
            |"_id": "58867ac623524c582b0247eb",
            |"user_username": "dpoulos",
            |"user_major": "Computer Science",
            |"user_date_created": "1994-01-12T06:00:00.000Z",
            |"user_password": "test",
            |"user_email": "dpoulos@stedwards.edu",
            |"user_last_name": "Poulos",
            |"user_first_name": "David",
            |"__v": 0
            |}
      h4 Messages
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all messages.
            td /api/messages
            td GET
            td none
          tr
            td Create a new message .
            td /api/messages
            td POST
            td {msg_subject: "MONGO", msg_body: "Not working", to_id: "USER_ID", from_id: "FROM_ID", date: "12/2/1994"}
          tr
            td Delete a message.
            td /api/messages/:id
            td DELETE
            td :id => "MESSAGE_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
          |{
          |"_id": "588ec0a4bf32761ff162c524",
          |"message_date_sent": "1994-12-12T06:00:00.000Z",
          |"message_from_id": "David",
          |"message_to_id": "James",
          |"message_body": "Is very complex",
          |"message_subject": "MongoDB",
          |"__v": 0
          |}
      h4 User Types
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all user types.
            td /api/userstypes
            td GET
            td none
          tr
            td Add a new type.
            td /api/userstypes
            td POST
            td {type: "Admin"}
          tr
            td Delete a user type.
            td /api/usertypes/:id
            td DELETE
            td :id => "USER_TYPE_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
            |{
            |"_id": "588e9e786b70a507ed1b0711",
            |"usertype_type": "admin",
            |"__v": 0
            |}
      h4 Posts
      table.white.bordered
        thead
          tr
            th Title
            th URL
            th Method
            th Parameters
        tbody
          tr
            td Get all club posts.
            td /api/posts
            td GET
            td none
          tr
            td Add a new post.
            td /api/posts
            td POST
            td {type: "Admin"}
          tr
            td Delete a post.
            td /api/posts/:id
            td DELETE
            td :id => "USER_TYPE_ID"
      h5.center-align Data Model
      p.center-align
        pre
          code
          |{
          |"_id": "588ec0dabf32761ff162c526",
          |"post_date": "12/12/1994",
          |"post_body": "I enjoyed the running activity",
          |"post_user": "David",
          |"__v": 0
          |}
