extends layout

block content
  h2.center-align #{school.school_name} Clubs
  for club in clubs
    .square.purple_style(id=club._id).z-depth-2
      .club
        //- img(src='./images/'+school.school_logo, height='125', width='200', style='display:block;margin:auto;')
        li(style='color: white;') Club Name:
          h6(style='color: yellow;') #{club.club_name}
        li(style='color: white') Club Leader:
          for user in user_list
            if user._id == club.club_leader
              h6(style='color: yellow;') #{user.user_first_name} #{user.user_last_name}
        //- li(style='color: white') Club Secretary:
        //-   h6(style='color: yellow;') #{club.club_secretary}
        li(style='color: white') Description:
          h6(style='color: yellow;') #{club.club_info}
        li(style='color: white') Date Joined:
          h6(style='color: yellow;') #{club.club_join_date}
      .row
        .col.s8.offset-s2
          a(href='/view_club/'+club._id).btn.indigo.waves-light Club Page
