extends layout

block content
  //#{clubs}
  div(class='container')
  div(class='container' style='background-color: #263238; margin-top: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;')
    h4(style='color: white;')='Add a new club'
    //form(method='post', action='#')
    div
      .input-field.col.s6
        i.material-icons.prefix account_circle
        input#clubname.validate(value='', type='text', style='color: white;')
        label.active(for='clubname') Club Name
      .input-field.col.s6
        i.material-icons.prefix supervisor_account
        input#leader.validate(type='text', style='color: white;')
        label(for='leader') Club Leader
      .center
        button#subButton.btn.waves-effect.waves-light(name='action', onclick='Materialize.toast("Successfully Added", 2000)')
          | Submit
          i.material-icons.right send
    div(style='padding-bottom:10px;')
    div(style='background-color:white;')
      table(class='striped')
        thead
            tr
              th(data-field='CName') Club Name
              th(data-field='Cleader') Club Leader
              th(data-field='CDelete') Delete
            tbody(id='tablerows')
              each club in clubs
                tr(id=club._id)
                  td #{club.club_name}
                  td #{club.club_leader}
                  td
                    button(class='btn-floating')
                      i.material-icons delete
