doctype html
html
  head
    title= title
    //Minified jQuery
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')

    //Stylesheets
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    //Google Fonts
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons|Righteous|Ubuntu|Cinzel', rel='stylesheet')
    //Materialize JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    //Custom JS
    script(src='/javascripts/script.js')
    script(src='/javascripts/dropdown.js')
    script(src='/javascripts/navigation.js')
  body
    ul#dropdown1.dropdown-content
      li
        a(href='/add_school') Add School
      //- li
      //-   a(href='./') Home
      li.divider
    ul#dropdown2.dropdown-content
      li
        a(href='/user_profile') User Profile
      //- li
      //-   a(href='#') My Clubs
      li.divider
    ul#dropdown3.dropdown-content
      li
        a(href='/add_new_club') Create A New Club
      //- li
      //-   a(href='#') View My Clubs
      li.divider
    ul#dropdown4.dropdown-content
      li
        a(href='/search_listing') By University
      li
        a(href='/all_clubs_listing') View All Clubs
      li
        a(href='/search_clubs') Search Clubs
      li.divider
    nav
      .nav-wrapper
        a.brand-logo.center(href='/search_listing') Club Catalogue
        if session.user
          if session.user.user_type == "Administrator"
            ul.left.hide-on-med-and-down
              li
                a.dropdown-button(href='#!', data-activates='dropdown1')
                  | Administrator
                  i.material-icons.right arrow_drop_down
        if session.user
          if session.user.user_type == "Club_Leader"
            ul.left.hide-on-med-and-down
              li
                a.dropdown-button(href='#!', data-activates='dropdown3')
                  | Club Leader
                  i.material-icons.right arrow_drop_down
        ul.right
          li
            if session.user
              a.dropdown-button(href='#!', data-activates='dropdown2')
                | #{session.user.user_first_name} #{session.user.user_last_name}
                i.material-icons.right arrow_drop_down
          li
            if session.user
              button.waves-light.btn#logout logout
            else
              a(href='/login').btn Login
        ul.left.hide-on-med-and-down
          li
            a.dropdown-button(href='#!', data-activates='dropdown4')
              | Browse
              i.material-icons.right arrow_drop_down

    block content
