extends layout
block content
  .container
    h3.center-align(style="font-family: 'Futura', sans-serif; color: #05668D;") Sign In
    .z-depth-1.grey.lighten-4.row(style='margin-top: 1%; margin-left: 22%; margin-right: 22%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
      #failure
      .row
        .col.s12
          .row
            .input-field.col.s12
              input#username.validate.type_color(type='text')
              label(for='username') Username
            .input-field.col.s12
              input#password.validate.type_color(type='password')
              label(for='password') Password
            button.col.s8.offset-s2.btn.btn-large.waves-effect.indigo()#submit_login Login
          a(href="/register").col.s12.offset-s4 Create Account
  script(src='./javascripts/login.js')
