extends layout

block content
  h3.center-align(style="font-family: 'Futura', sans-serif; color: #05668D;") Create a New Account
  .container#registerform
    .z-depth-1.grey.lighten-4.row(style='margin-top: 1%; margin-left: 22%; margin-right: 22%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
      #success
      .row
        .col.s12
          .row
            .input-field.col.s12
              input#first_name.validate.type_color(type='text')
              label(for='first_name') First Name
            .input-field.col.s12
              input#last_name.validate.type_color(type='text')
              label(for='last_name') Last Name
            .input-field.col.s12
              input#email.validate.type_color(type='email')
              label(for='email') Email
            .input-field.col.s12
              select#major
                option(value='', disabled='', selected='') Select an option
                each major in major_list
                  option(value=major._id) #{major.major_name}
              label(for='major') Major
            .input-field.col.s12
                select#type
                  option(value='', disabled='', selected='') Select an option
                  option(value='Club_Member') Club Member
                  option(value='Club_Leader') Club Leader
                label(for='type') Account Type
            .input-field.col.s12
              input#password.validate.type_color(type='password')
              label(for='password') Password
            .input-field.col.s12
              input#confirm_password.validate.type_color(type='password')
              label(for='confirm_password') Confirm-Password
            button.col.s8.offset-s2.btn.btn-large.waves-effect.indigo()#submit_button Submit
              i.material-icons.right send
        p.col.s8.offset-s2 Already have an account?&nbsp
          a(href="/login") Sign In
  script(src='./javascripts/register.js')
