extends layout

block content
  .container
    .row#school_title
      .col.s12
        h3.center-align(style='font-family: Futura; color: #05668D') Find Your University
      //- .col.s6
      //-   input(type="text")#search_school
      //-   button.btn#search_school_button Search
      //-   button.btn#reset_school RESET
  div(style='')#schools
    section
      each school in school_list
        .square.blue(id=school._id).z-depth-2
          .school
            img(src='../images/'+school.school_logo, height='125', width='200', style='display:block;margin:auto;')
            li(style='color: white;') School Name:
              h6(style='color: yellow;') #{school.school_name}
            li(style='color: white') Date Joined:
              h6(style='color: yellow;') #{school.school_join_date}
            li(style='color: white') # of Clubs: #{school.school_clubs.length}
          .row
            .col.s8.offset-s2
              button.btn.indigo.waves-light View Clubs
            //- .col.s6
            //-   button.btn.waves-green Info

  script(src='/javascripts/search.js')
