extends layout

block content
  h2.center-align Search for a Club
  .container
    nav
      .nav-wrapper
        .input-field
          input#search(type='search', required='', placeholder='Club Name')
          label.label-icon(for='search')
            i.material-icons search
          i.material-icons close
  div.container(style='background-color: white; margin-top: 10px;').z-depth-2
    table
      thead
        tr
          th Club Name
          th Club Leader
          th Club Description
          th Link
      tbody#output
        tr#default
          td No Results
  script(src='/javascripts/club_search.js')
