extends layout

block content
  .container
    if session.user
      h2.center-align(style="font-family: 'Cinzel', serif;") #{session.user.user_username}'s Profile
      .row(class="blue blue-darken-1" style="padding: 3px")
        .col.s12.m6
          if session.user.user_type == "Club_Leader"
            h4(style="font-family: Futura; color: yellow") Club Leader's Clubs
          if session.user.user_type == "Club_Member"
            h4(style="font-family: Futura; color: yellow") My Clubs
          ul(class="white").z-depth-1
            for club in club_list
              div(style="padding: 2px")
                li(style="font-family: Futura") #{club.club_name}
                li
                  a(href='/view_club/'+club._id) View Club Page
        .col.s12.m6
          h4(style="font-family: Futura; color: yellow") Edit Profile
          .z-depth-1.white.lighten-4.row(style=' padding: 3px;')
            form(action='/update_user' method='post')
              if message
                .blue.col.s12.z-depth-1
                  h5(style='font-family: Futura; color: white;').center-align #{message}
              .row
                .col.s12
                  .row
                    .input-field.col.s12
                      input#fname.validate.type_color(type='text',name='first_name' placeholder=session.user.user_first_name)
                      label(for='fname') First Name
                    .input-field.col.s12
                      input#lname.validate.type_color(type='text',name='last_name' placeholder=session.user.user_last_name)
                      label(for='lname') Last Name
                    .input-field.col.s12
                      input#pass.validate.type_color(type='password',name='password')
                      label(for='pass') Password
                    .center-align
                      input(type='submit', value="Update").btn.btn-large.waves-effect.indigo
