extends layout

block content
  //#{club_data}
  //h4 #{session.user._id}
  h4.center-align(style='font-family: "Cinzel", serif;') #{club_data.club_name}
  //- if session.user
  //-   if club_data.club_leader == session.user._id
  //-     h6 YOU ARE THE CLUB LEADER: #{session.user.user_username}
  //-   else
  //-     h6 YOU ARE NOT THE CLUB LEADER #{session.user.user_username}
  .row
    .col.s12.m4.l3
      if session.user
        h5 Features - #{session.user.user_type}
      else
        h5 Features
      //CLUB MEMBER
      div(style='background-color:#fff491; padding: 5px;').z-depth-1
        if session.user
          if session.user.user_type == "Club_Member"
            //NOBODY IN THE LIST
            if member_list.length == 0
                h6 Become a Member
                .center-align
                  form(action='/process_join', method="post")
                    .input-field
                      input(type="hidden",value=club_data._id,name="club_id")
                    .input-field
                      input(type="hidden",value=session.user._id, name="user_id")
                      input(type='submit', value="Join Club").btn.btn-lg.green
            //JOIN & LEAVE CLUB
            for member in member_list
              if session.user._id == member._id
                //ADD POST
                h6 Add New Post
                .grey.lighten-4(style='border: 1px solid #EEE; padding: 2%')
                  .input-field
                    input#post_body.validate.type_color(type='text')
                    label(for='post_body') Post Description
                  .input-field
                    input(type="hidden",value=club_data._id)#post_club_id
                  .center-align
                    button#submit_post.btn Submit
                //UPLOAD PICTURE
                h6 Upload Picture
                  form(action='/upload_pic', method='post', enctype="multipart/form-data")
                    .file-field.input-field.col.s12
                      .btn.blue
                        span File
                        input(type='file',name='image')
                      .file-path-wrapper
                        input.file-path.validate(type='text')
                    .input-field
                        input(type="hidden",value=club_data._id,name="club_id")
                    .center-align
                      input(type='submit').btn.blue
                //LEAVE
                h6 Leave Club
                .center-align
                  form(action='/process_leave', method="post")
                    .input-field
                      input(type="hidden",value=club_data._id,name="club_id")
                    .input-field
                      input(type="hidden",value=session.user._id, name="user_id")
                      input(type='submit', value="Leave Club").btn.btn-lg.red
                -break;
                //JOIN
              else
                h6 Become a Member
                .center-align
                  form(action='/process_join', method="post")
                    .input-field
                      input(type="hidden",value=club_data._id,name="club_id")
                    .input-field
                      input(type="hidden",value=session.user._id, name="user_id")
                      input(type='submit', value="Join Club").btn.btn-lg.green
        //CLUB LEADER
        if session.user
          if session.user.user_type == "Club_Leader" && club_data.club_leader == session.user._id
            h6.center-align Add New Activity
            .grey.lighten-4(style='border: 1px solid #EEE; padding: 2%')
              .input-field
                input#activity_body.validate.type_color(type='text')
                label(for='activity_body') Activity Description
              .input-field
                input(type="date").datepicker#activity_date
                label(for='activity_date') Activity Date
              .input-field
                input(type="hidden",value=club_data._id)#activity_club_id
              .center-align
                button#submit_activity.btn Submit
        else
          //GENERIC USER
          a(href='/login') Sign In To Access
    .col.s12.m4.l3
      h5 Activity Feed
      input(type='hidden',id='d_activity',value=club_data._id)
      div#activity_section(style="overflow:scroll; height: 450px; padding: 5px;").red.darken-4
        for activity in activity_list
          div.z-depth-2#activity_container
            div#info
              h6 About:
              span(style='color: white;') #{activity.activity_info}
            div#date
              h6 Date:
              span(style='color: white;') #{activity.activity_date}
            if session.user
              if session.user.user_type == "Club_Leader"
                div(id=activity._id)
                  .button.btn.red.darken-4#delete_activity
                    i.material-icons delete
    .col.s12.m4.l3
      h5 Post Feed
      input(type='hidden',id='d_post',value=club_data._id)
      div#post_section(style="overflow:scroll; height: 450px; padding: 5px;").blue.darken-4
        for post in post_list
          div.z-depth-2#post_container
            div
              h6 User:
              for user in all_users_list
                if user._id == post.post_user
                  span(style='color: white;') #{user.user_first_name} #{user.user_last_name}
            div
              h6 Post:
              span(style='color: white;') #{post.post_body}
            if session.user
              if session.user.user_type == "Club_Leader"
                div(id=post._id)
                  .button.btn.red.darken-4#delete_post
                    i.material-icons delete
    .col.s12.m4.l3
      .row
        .col.s12
          h5 Description
          p(style='background-color:#fff491; padding: 5px;').z-depth-1 #{club_data.club_info}
        .col.s12
          h5 Club Leader
          for user in all_users_list
            if user._id == club_data.club_leader
              h6(style='background-color:#fff491; padding: 5px;').z-depth-1 #{user.user_first_name} #{user.user_last_name}
        .col.s12
          h5 Club Members
          ul(style='background-color:#fff491; padding: 5px;').z-depth-1
            for member in member_list
              li #{member.user_first_name} #{user_last_name}
        .col.s12
          h5 Club Pictures
          .div(style='background-color:#fff491; padding: 5px;').z-depth-1
            .row
              for image in club_data.club_pictures
                .col.col-s3
                  img.materialboxed(width="50", height="50", src="/images/"+image)


  script(src='/javascripts/club_page.js')
