.square {
  float: left;
  /*height: 22vw;*/
  /*height: 10%;*/
  width:290px;
  max-width:290px;
  height: 350px;
  max-height: 350px;
  display: inline-block;
  margin: 1%;
  /*width: 23%;*/
  border-radius: 25px; }

.blue {
  background-color: #3498DB; }

.orange {
  background-color: #E67E22; }

.purple_style {
  background-color: #9975B9; }

.green {
  background-color: #1ABC9C; }

section {
  margin: -1%;
  padding: 20px; }

.school {
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: 6%;
  padding-right: 6%;
 }

.club {
  padding-top: 6%;
  padding-left: 6%;
  padding-bottom: 6%;
  padding-right: 6%;
}
/*.content {
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%; }*/

#titlebackground {
  border-radius: 25px; }
