.api_style{
  padding-bottom: 50px;
}
body{
  padding-bottom: 50px;
  background-color: #fff9c4;
}

#registerform #add_school_form #add_club_form{
  margin-top: 1%;
  /*padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;*/
  /*background-color: #5ED8BE;*/
  /*background-color: #05668D;*/
  /*background-color: white;*/
}

nav {
    height: 50px;
    line-height: 50px;
    background-color: #05668D;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

.type_color {
  color: #000;
}

/* label color */
.input-field label {
 color: #05668D;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #05668D;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #05668D;
 box-shadow: 0 1px 0 0 #05668D;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #7CFC00;
 box-shadow: 0 1px 0 0 #7CFC00;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #FF0000;
 box-shadow: 0 1px 0 0 #FF0000;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

/*           EMAIL */
/* label focus color */
.input-field input[type=email]:focus + label {
 color: #05668D;
}

/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #05668D;
 box-shadow: 0 1px 0 0 #05668D;
}

/* valid color */
.input-field input[type=email].valid {
 border-bottom: 1px solid #7CFC00;
 box-shadow: 0 1px 0 0 #7CFC00;
}
/* invalid color */
.input-field input[type=email].invalid {
 border-bottom: 1px solid #FF0000;
 box-shadow: 0 1px 0 0 #FF0000;
}


/* PASSWORD */
/* label focus color */
.input-field input[type=password]:focus + label {
 color: #05668D;
}

/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #05668D;
 box-shadow: 0 1px 0 0 #05668D;
}

/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid #7CFC00;
 box-shadow: 0 1px 0 0 #7CFC00;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid #FF0000;
 box-shadow: 0 1px 0 0 #FF0000;
}

#submit_button{
  color: white;
}


#activity_container{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #ef5350;
  padding: 2% 2% 2% 2%;
}

#post_container{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #42a5f5;
  padding: 2% 2% 2% 2%;
}
